/* Styling the body */
* {
    padding: 0;
    margin: 0;
}

/* Styling the background image by
giving its url and position */
.container {
    height: 100vh;
    width: 100%;
    background: url("Images/Music_background.jpg");
     
    /* Image used: */
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-content: center;
    justify-content: right;
}

/* Styling the list tags to the
right of the navigation bar */
.nav li {
    display: inline-flex;
    list-style: none;
}

/* Styling the anchor tags of
the navigation bar */
.nav a {
    list-style: none;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    font-weight: 550;
    display: flex;
    padding: 5px 35px;
    color: white;
    text-shadow: 3px 2px blue;
    margin-right: 50px;
}

.nav a:hover{
    background-color: blue;
}

/* Giving position and margin
to the content-div */
.content {
    width: 100%;
    position: absolute;
    top: 45%;
    display:flex;
}

/* Styling the left-col by
giving margin */
.left-col {
    margin-left: 45%;
    margin-top: -10%;
    
}

/* Styling the my sound placed
in the left-col */
.left-col h1 {
    font-size: 36px;
    color: rgb(170, 81, 170);
    text-align: center;
}

.left-col ol{
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
}

.left-col li{
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
}

.content2{
    width: 100%;
    position: absolute;
    top: 150%;
    display:flex;
    align-items: center;
}


/* Styling the right-col */
.right-col {
    margin-left: 22%;
    margin-top: -75%;
    display: flex-start;
    align-items: center;
    text-align: center;
}

.right-col ul{
    list-style: none;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
}

.right-col li{
    display: inline-flex;
    margin-left: 10px;
    margin-right: 10px;
}

#icon{
    height: 25px;
    width: 25px;
}

#icon2{
    height: 25px;
    width: 25px;
}

#icon3{
    height: 25px;
    width: 25px;
}

#icon4{
    height: 25px;
    width: 25px;
}

/* Styling the text in the right-col */
.right-col h1 {
    font-size: 36px;
    color: rgb(170, 81, 170);
    text-align: center;
}

/* Styling the cursor type
of the icon to pointer */
#icon {
    cursor: pointer;
}