body{
    margin:0px;
    padding:0px;
    background-color: black;
}


#Warrenside_sign{
    display: block;
    /*margin-left: 440px;
    margin-right: 425px;*/
    background-size: cover;
    box-shadow:black 10px 5px 10px 20px;
}

#navBar{
     display: flex;
     flex-direction: column; 
     background-color:darkred;
     box-shadow: black 5px 5px 20px 10px;
     width: 100%;
     height:auto;
     
}

#nav_ul{
    display: flex;
    background-color: darkred;
    padding-top: 15px;
    padding-bottom: 15px;
}

#nav_li_logo{
  list-style: none;  
}

#TavernLogo{
    border-radius: 25%;
    margin-right: 80px;
}

#nav_li{
    margin-top: 5px;
    margin-left: 105x;
    margin-right: 105px;
    font-size: 30px;
    list-style: none;
    font-family: 'Cinzel', serif;
    transition: 2s ease; 
    text-align: center;
    align-items: center;
    display: flex;
}

#nav_li a{
    color: white;
    transition: 1s ease;
    text-decoration: none;
    text-align: center;
    align-items: center;
    display: flex-start;
}

#nav_li a:hover{
    background-color:goldenrod;
    transform: translateY(-0.25em);
}

#nav_li:hover{
    transform: translateY(-0.25em);
    transition: 1s ease-in-out;
}

#nav_right_instagram {
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    list-style: none;
    transition: 2s ease;
    text-decoration: none;
    justify-content: right;
    text-align: right;
  }

#insta {  
    width: 30px;  
    height: 30px;  
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);  
    border-radius: 0px; /*35px;*/  
    display: grid;  
    place-items: center;
  } 

  #innerbox {  
    width: 24px;  
    height: 24px;  
    border: 2px solid #fff;  
    border-radius: 0px; /*32px;*/  
    display: grid;  
    place-items: center;  
    position: relative; 
  } 
  
  #innerbox::before {  
    content: '';  
    width: 9px;  
    height: 9px;  
    border: 2px solid #fff;  
    border-radius: 0%; /*0%;*/
    background: transparent;  
    position: absolute;
  }  
  /* top right circle of insta */  
  #innerbox::after {  
    content: '';  
    width: 2px;  
    height: 2px;  
    border: .4px solid #fff;  
    border-radius: 0%; /*50%;*/  
    background: #fff;  
    position: absolute;  
    top: 8px;  
    right: 10px;
  }  

#nav_right_instagram:hover{
    opacity: .5;
    transform: translateY(-0.25em);
}

#nav_right_facebook{ 
    margin-right: 50px;
    margin-top: 40px;
    font-size: 24px;
    list-style: none;
    font-family: 'Cinzel', serif;
    transition: 2s ease;
    justify-content: right;
    text-align: right;
}  

.fa {
    padding: 5px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
  }

.fa:hover {
    opacity: .5;
    transform: translateY(-0.25em);
}

.fa-facebook {
  background: #3B5998;
  color: white;
  list-style: none; 
  transition: 2s ease;
}

#nav_right_takeOut{
    list-style: none;
    font-family: 'Cinzel', serif;
    transition: 2s ease;
    border-radius: 25%;
    width: 100px;
    height: 100px;
    margin-right: 0px;
}

#nav_right_takeOut a{
    color: white;
    transition: 1s ease;
    text-decoration: none;
    margin-left: 25px;
    font-size: 19px;
}

#h3Takeout{
    border-radius: 100%;
    background-image: url(Images/Warrenside_Tavern_Logo.jpeg);
    background-size: contain;
    width: 120px; 
    height: 85px;
}

/*#container1{
    height: 500px;
    margin-bottom: 0px;
    display: flex;
    background-size: cover;
}*/

.btn{
    font-family: 'Cinzel', serif;
    margin: top 0px;
    width: 470px;
    height: 34px;
    /*position: relative;*/
    justify-content:stretch;
    align-items: center;
    background-color: rgb(244, 219, 79);  
}

.btn:hover{
    background-color: rgb(244, 219, 79);
    cursor: pointer;
}
.container1{
    background-image: url(Images/Warrenside_Interior5.jpeg);
    background-size: cover;
}
.row{
    height:900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

#col1{
    width: 400px;
    height:300px;
    margin-top:150px;
    margin-bottom: 51px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-right: 30px;
    margin-left: 38px;
    padding: 20px;
    border: 22px groove rgb(0,0,0,.8);;
    background: url('Images/WarrensideSpecc_10_22.jpeg') no-repeat center center/cover;
    
}

/*
#specials{
    max-width: 100%;
    max-height: 100%;
    display: block;
    align-items: stretch;
}*/

#col2{
    width:400px;
    height:300px;
    margin-top:150px;
    margin-bottom: 51px;
    margin-right: 30px;
    margin-left: 38px;
    padding: 20px;
    border: 22px groove rgb(0,0,0,.8);;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('Images/Warrenside_LobsterBisque2.jpeg') no-repeat center center/cover;
}

/*
#pics{
    max-width: 100%;
    max-height: 100%;
    display: block;
    align-items: stretch;
}*/

#col3{
    width:400px;
    height:300px;
    margin-top:150px;
    margin-bottom: 51px;
    margin-right: 30px;
    margin-left: 38px;
    padding: 20px;
    padding: 20px;
    border: 22px groove rgb(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('Images/Warrenside_Beer.jpeg') no-repeat center center/cover;
}

/*
#catering{
    max-width: 100%;
    max-height: 100%;
    display: block;
    align-items: stretch;
}*/
.row2{
    display:inline-flex;
    background-color: rgb(244, 219, 79, .7);
    width: 100%;
    height: 550px;
}

#span{ 
    width: 100%;
    height: 550px;
    border: 22px groove rgb(0,0,0,.7);
    font-size: 58px;
    text-align: center;
    font-family: 'Cinzel', serif;
}

#taps{
    border: 10px double rgb(0,0,0,.8);
}

#row2_p{
    font-size: 42px;
    text-align: center;
    font-family: 'Cinzel', serif;
}

.bottom_section{
    display: inline-flex;
    margin-top:50px;
    margin-left:200px;
}

#locationWrapper{
    display: inline-flex;
    text-align: center;
    margin-left: 200px;
    margin-right: 300px;
}

#h2_visitUs{
    color: white;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    text-shadow: 3.5px 3.5px darkred;
}

.locationWrapper p{
    color: white;
    font-size: 18px;
    font-family: 'Cinzel', serif;
    text-shadow:3.5px 3.5px darkred;
}

.locationWrapper a{
    color: white;
    font-size: 18px;
}

#h3_callUs{
    color: white;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    text-shadow:3.5px 3.5px darkred;
}

#hosWrapper{
    display: inline-flex;
    align-content: center;
    margin-left: 300px;
}

#h2_buisnessHours{
    color: white;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    text-shadow: 3.5px 3.5px darkred;
}

#p_hoursOfService{
    color: white;
    font-size: 18px;
    font-family: 'Cinzel', serif;
    text-shadow:3.5px 3.5px darkred;
}

.bottom_row3{
    display: inline-flex;
    align-content: center;
    margin-left: 300px;
    margin-right: 300px;
    display: inline;
}

#h2_quickLinks{
    color: white;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    text-shadow: 3.5px 3.5px darkred;
    text-align: center;
}

.ul_bottom3{
    color: white;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    text-shadow:3.5px 3.5px darkred;
}

.ul_bottom3 li{
    margin-bottom: 20px;
    font-size: 18px;
}

.ul_bottom3 a{
    color: white;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    text-shadow:3.5px 3.5px darkred;
    font-size: 18px;
}




.footer{
    color:white;
}

@media only screen and (max-width:1131px){
    #row1{
        width: 42vw;
    }
    #row2{
        width:45vw;
    }
    #row3{
        margin-top: 20px;
        width:90vw;
    }
}
@media only screen and (min-width:600px) and (max-width:781px)
{
    #row1{
        width:84vw;
        margin: auto;
        margin-left: 22px;
    }
    #row2{
        
        width:84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }
    #row3{
        width:84vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 22px;
    }
}
@media only screen and (max-width:600px){
    #row1{
        width:78vw;
        margin: auto;
        margin-left: 3px;
    }
    #row2{
        
        width:78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }
    #row3{
        width:78vw;
        margin: auto;
        margin-top: 20px;
        margin-left: 3px;
    }
}
